#lc-player-audio {
  // display: none;
  position: absolute;
  top: 120px;
}

#lc-player {
  width: 800px;
  height: 350px;

  color: $text-color;
  font-size: 12px;

  .lc-header {
    height: 75px;
    border-bottom: 1px solid $dark-border;
  }

  .lc-playlist {
    height: 275px;
    overflow-y: scroll;
  }
}
