@-webkit-keyframes equalizer_animation {
  from { transform: translate(0%,0) }
  to { transform: translate(-90%,0) }
}

#lc-player {
  height: 75px;
  display: flex;

  #lc-player-audio {
    display: none;

    position: absolute;
    top: 120px;
    right: 20px;
  }

  .lc-player-badge {
    margin-right: 5px;
    height: inherit;

    img {
      width: 75px;
      height: inherit;
      display: block;
      border-top-left-radius: 4px;
    }
  }

  .lc-player-devider {
    width: 1px;
    height: 51px;
    background-color: #DCDCDC;
    margin: 12px 5px;
  }

  .lc-player-controlls {
    height: inherit;
    display: flex;
    align-items: center;

    .prev-btn {
      cursor: pointer;

      width: 19px;
      height: 20px;
      background: url(images/player/prev-button.png);

      &:hover {
        background: url(images/player/prev-button-over.png);
      }
    }

    .play-btn {
      cursor: pointer;
      margin: 0 5px;

      width: 25px;
      height: 27px;
      background: url(images/player/play-button.png);

      &:hover {
        background: url(images/player/play-button-over.png);
      }

      &.playing {
        background: url(images/player/pause-button.png);

        &:hover {
          background: url(images/player/pause-button-over.png);
        }
      }
    }

    .next-btn {
      cursor: pointer;
      width: 19px;
      height: 20px;
      background: url(images/player/next-button.png);

      &:hover {
        background: url(images/player/next-button-over.png);
      }
    }
  }

  .lc-player-controll-timeline {
    height: 55px;
    width: 420px;
    margin: 15px 5px 5px 5px;

    .player-header-controll-main-box-ticker-line {
      border: 1px solid #DCDCDC;
      height: 22px;
      background-color: #E8E8E8;
      display: flex;

      .equalizer {
        height: 20px;
        width: 30px;
        overflow: hidden;

        img {
          animation: equalizer_animation 9s linear 0s infinite normal;
          animation-play-state: paused;
        }

        &.playing {
          img {
            animation-play-state: running;
          }
        }
      }

      .text-ticker {
        margin: 0 5px 0 10px;
        overflow: hidden;
        white-space: nowrap;
        line-height: 20px;
        text-overflow: ellipsis;

        span {
          font-weight: bold;
        }
      }
    }

    .player-header-controll-main-box-player {
      display: flex;
      line-height: 24px;
      margin-top: 9px;

      .player-header-controll-main-box-current-time {
        font-size: 12px;
        white-space: nowrap;
        color: #8B8B8B;
        margin-right: 10px;
      }

      .player-header-controll-main-box-player-progress {
        width: 100%;
        cursor: pointer;

        .player-progress-bar {
          height: 5px;
          margin: 9px 0;
          background-color: $border;
          position: relative;

          .player-progress-bar-progress {
            position: relative;
            background-color: #ABABAB;
            width: 0;
            height: inherit;
          }

          .player-progress-bar-handler {
            position: absolute;
            top: 0;
            left: 0;
            height: 5px;
            width: 2px;
            background-color: #000000;
            transition: left 0.2s ease-in-out;
          }
        }
      }

      .player-header-controll-main-box-full-time {
        font-size: 12px;
        white-space: nowrap;
        color: #8B8B8B;
        margin-left: 10px;
      }
    }
  }

  .lc-player-options {
    width: 178px;
    margin: 15px 10px 5px 5px;
    height: 55px;

    .options-bar {
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .options-btn {
        cursor: pointer;
        width: 22px;
        height: 20px;

        &.playlist {
          background: url(images/player/playlist-button.png);
          &.active, &:hover { background: url(images/player/playlist-button-over.png); }
        }
        &.radiostations {
          background: url(images/player/categories-button.png);
          &.active, &:hover { background: url(images/player/categories-button-over.png); }
        }
        &.replay {
          background: url(images/player/replay-button.png);
          &.active, &:hover { background: url(images/player/replay-button-over.png); }
        }
        &.shuffle {
          background: url(images/player/shuffle-button.png);
          &.active, &:hover { background: url(images/player/shuffle-button-over.png); }
        }
        &.download {
          background: url(images/player/download-button.png);
          &.active, &:hover { background: url(images/player/download-button-over.png); }
        }
        &.visit-site {
          background: url(images/player/popup-button.png);
          &.active, &:hover { background: url(images/player/popup-button-over.png); }
        }
      }
    }

    .volume-bar {
      line-height: 24px;
      margin-top: 9px;
      display: flex;

      .volume-bar-btn {
        margin: 1px 5px 0 2px;
        cursor: pointer;
        width: 22px;
        height: 20px;

        background: url(images/player/volume-icon.png);

        &:hover {
          background: url(images/player/volume-icon-over.png);
        }

        &.mute {
          background: url(images/player/volume-icon-mute.png);

          &:hover {
            background: url(images/player/volume-icon-mute-over.png);
          }
        }
      }

      .volume-progress-bar-wrapper {
        width: 100%;
        cursor: pointer;

        .volume-progress-bar {
          height: 5px;
          margin: 9px 0;
          background-color: #DCDCDC;
          position: relative;

          .volume-progress-bar-progress {
            position: relative;
            background-color: #ABABAB;
            width: 0;
            height: inherit;
          }

          .volume-progress-bar-handler {
            position: absolute;
            top: 0;
            left: 0;
            height: 5px;
            width: 2px;
            background-color: #000000;
            transition: left 0.2s ease-in-out;
          }
        }
      }
    }
  }
}
