@import url(https://fonts.googleapis.com/css?family=Open+Sans|Raleway);

#amazingaudioplayer-8 {
  // background-color: #333;
  // border: 1px solid #222;
  // padding: 12px 8px 4px;
  // box-shadow: inset 0 1px 0 rgba( 255, 255, 255, 0.15 ), 0 0 3px rgba( 0, 0, 0, 0.5 );

  // background-image: linear-gradient(to bottom, #e2e2e2 0%, #d4d4d4 100%);


  // border-radius: 2px;
  // position: relative;
  // width: 100%;
  // height: auto;
  // margin: 0px auto 0px;

  .amazingaudioplayer-track-player {
    @include clearfix;
  }

  .amazingaudioplayer-image {
    position: relative;
    float: left;
    margin: 5px;
    border-radius: 5px;
    width: 100px;
    height: 100px;
  }

  .amazingaudioplayer-text {
    padding: 5px;
    margin-left: 108px;
  }

  .amazingaudioplayer-title {
    color: #333;
    font-size: 15px;
    font-weight: bold;
  }

  .amazingaudioplayer-info {
    color: #555;
    font-size: 12px;
    font-style: italic;
  }

  .amazingaudioplayer-bar {
    @include clearfix;
    text-align: center;
    position: relative;
    margin-left: 108px;
    padding: 0 5px;
    line-height: 60px;
    vertical-align: middle;
  }

  .amazingaudioplayer-bar-title {
    position: relative;
    float: left;
    color: #eee;
    font-size: 12px;
    line-height: 24px;
    margin: 0 8px;
  }

  .amazingaudioplayer-play {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url('./images/playpause-48-48-1.png');
    background-repeat: no-repeat;
    background-position: left top;
    cursor: pointer;
    vertical-align: inherit;

    &:hover {
      background-position: left bottom;
    }
  }

  .amazingaudioplayer-pause {
    position: relative;
    display: none;
    width: 48px;
    height: 48px;
    background-image: url('./images/playpause-48-48-1.png');
    background-repeat: no-repeat;
    background-position: right top;
    cursor: pointer;
    vertical-align: inherit;

    &:hover {
      background-position: right bottom;
    }
  }

  .amazingaudioplayer-stop {
    position: relative;
    // float: left;
  }

  .amazingaudioplayer-prev {
    // float: left;
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url('./images/prevnext-48-48-1.png');
    background-repeat: no-repeat;
    background-position: left top;
    cursor: pointer;
    vertical-align: inherit;

    &:hover {
      background-position: left bottom;
    }
  }

  .amazingaudioplayer-next {
    // float: left;
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url('./images/prevnext-48-48-1.png');
    background-repeat: no-repeat;
    background-position: right top;
    cursor: pointer;
    vertical-align: inherit;

    &:hover {
      background-position: right bottom;
    }
  }

  .amazingaudioplayer-progress {
    position: relative;
    background-color: #222;
    box-shadow: -1px -1px 0 rgba( 0, 0, 0, 0.5 ), 1px 1px 0 rgba( 255, 255, 255, 0.1 );
    margin: 8px 5px;
    border-radius: 5px;
  }

  .amazingaudioplayer-progress-loaded {
    background-color: #444;
    border-radius: 5px;
  }

  .amazingaudioplayer-progress-played {
    border-radius: 5px;
    background-color: #fcc500;
    background-image: linear-gradient(to bottom, #fede00 0%, #fcc500 100%);
  }

  .amazingaudioplayer-time {
    position: relative;
    float: right;
    color: #fff;
    font-size: 12px;
    text-shadow: 1px 1px 0 #000;
    line-height: 24px;
    margin: 0 5px;
  }

  .amazingaudioplayer-tracks {
    margin-top: 10px;
    padding: 5px;
    position: relative;
    list-style-type: none;
    border-top: 1px solid #cbcbcb;
  }

  .amazingaudioplayer-track-item {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    color: #666;
    font-size: 12px;
    line-height: 22px;
    margin: 0;
    padding: 0;

    span {
      position: absolute;
      top:0;
      right:0;
    }
  }

  .amazingaudioplayer-track-item-active {
    cursor: pointer;
    color: #222;
  }

  .amazingaudioplayer-track-item-duration {
    position: absolute;
    top: 0;
    right: 0;
  }

  .amazingaudioplayer-tracklist-arrow-prev {
    position: absolute;
    top: 2px;
    right: 24px;
  }

  .amazingaudioplayer-tracklist-arrow-next {
    position: absolute;
    top: 2px;
    right: 6px;
  }

}

