// Colors:
$to_estimate: #b0b0b0;
$estimated:   #31bee1;
$in_progress: #CEC700;
$done:        #02B137;

$black:       #000000;
$text-color:  #6A6A6A;
$dark-border: #9E9E9E;
$border:      #DCDCDC;
$white:       #FFFFFF;
