#lc-playlist {
  height: 275px;
  overflow-y: scroll;

  .lc-playlist-row {
    display: flex;
    align-items: center;
    border-top: 1px solid $border;
    line-height: 24px;

    &:nth-child(even) {
      background-color: #F5F5F5;
    }

    .lc-playlist-row-play-pause {
      margin: 0 10px;
      cursor: pointer;
      width: 5px;
      height: 9px;
      background: url(images/player/playlist-play-button.png);

      &:hover {
        background: url(images/player/playlist-pause-button.png);
      }
    }

    .lc-playlist-row-title {
      cursor: pointer;
      width: 100%;

      span {
        font-weight: bold;
      }
    }

    .lc-playlist-row-time {
      margin: 0 15px 0 10px;
    }

    &:hover {
      color: $black;
    }

    &.active {
      color: $black;

      .lc-playlist-row-play-pause {
        background: url(images/player/playlist-play-button-over.png);

        &:hover {
          background: url(images/player/playlist-pause-button-over.png);
        }
      }
    }
  }
}
