#lc-playlist {
  height: inherit;
  overflow-y: scroll;

  .lc-playlist-row {
    position: relative;
    border-bottom: 1px solid $border;
    line-height: 24px;

    &:nth-child(even) {
      background-color: #F5F5F5;
    }

    &:last-child {
      border-bottom: 0;
    }

    .lc-playlist-row-progress {
      position: absolute;
      top: 0; left: 0;
      height: 100%; width: 0%;
      background-color: $border;
    }

    .lc-playlist-row-content {
      position: relative;
      cursor: pointer;
      display: table;
      width: 100%;

      > * {
        z-index: 1;
        display: table-cell;
        text-align: center;
      }

      .icon-play,
      .icon-pause {
        width: 25px;
        font-size: 8px;
      }

      .title {
        text-align: left;
        span { font-weight: bold; }
      }

      .icon-link,
      .icon-download,
      .icon-fire,
      .icon-arrow-up,
      .icon-arrow-down {
        width: 25px;
        font-size: 12px;
      }

      .time {
        width: 60px;
      }
    }

    &:hover {
      color: $black;

      .icon-play, .icon-pause { color: #000000; }
    }

    &.active {
      background-color: #F0F8FF;
      color: $black;

      .lc-playlist-row-progress {
        display: block;
      }

      .lc-playlist-row-content {
        .icon-play, .icon-pause { color: #000000; }
      }
    }
  }
}
