.window {
  height: 100%;

  .window-container {
    top: 15px;
    position: relative;
    color: $text-color;
    font-size: 12px;
    background: $white;

    &.arrow {
      border: 1px solid $dark-border;
      border-radius: 5px;

      &:after, &:before {
        content: ' ';
        bottom: 100%;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        right: 102px;
        border-bottom-color: $white;
        border-width: 10px;
        margin-left: -10px;
      }

      &:before {
        right: 100px;
        border-bottom-color: $dark-border;
        border-width: 12px;
        margin-left: -12px;
      }
    }

    .window-content {
      height: 230px;
      border-top: 1px solid $border;
    }

    &.hidden {
      .window-content {
        display: none;

        #lc-player {
          .lc-player-badge {
            img {
              border-bottom-left-radius: 4px;
            }
          }
        }
      }
    }
  }
}
