#lc-radio-stations {
  .station-mfm-ua {
    background-image: url(images/radio_stations/mfm.png);
  }
  .station-dfm-ru {
    background-image: url(images/radio_stations/dfm.png);
  }
  .station-kissfm-ua {
    background-image: url(images/radio_stations/kissfm.png);
  }
  .station-radiorecord-ru {
    background-image: url(images/radio_stations/radiorecord.png);
  }
  .station-rusradio-ru {
    background-image: url(images/radio_stations/rusradio.png);
  }
  .station-europaplus-ru,
  .station-europaplus-ua-ua {
    background-image: url(images/radio_stations/europaplus.png);
  }
  .station-nrj-ru,
  .station-nrj-de-de {
    background-image: url(images/radio_stations/nrj.png);
  }
  .station-ufm-ru {
    background-image: url(images/radio_stations/ufm.png);
  }
  .station-maximum-ru {
    background-image: url(images/radio_stations/maximum.png);
  }
  .station-love-ru {
    background-image: url(images/radio_stations/love.png);
  }
  .station-keks-ru {
    background-image: url(images/radio_stations/keks.jpg);
  }
  .station-bestfmua-ua {
    background-image: url(images/radio_stations/bestfmua.png);
  }
  .station-muztv-ru {
    background-image: url(images/radio_stations/muztv.png);
  }
  .station-luxfm-ua {
    background-image: url(images/radio_stations/luxfm.png);
  }
  .station-nasheradio-ru {
    background-image: url(images/radio_stations/nasheradio.png);
  }
  .station-bbc-gb {
    background-image: url(images/radio_stations/bbc.png);
  }
  .station-bbcdance-gb {
    background-image: url(images/radio_stations/bbcdance.png);
  }
  .station-billboard-us {
    background-image: url(images/radio_stations/billboard.jpg);
  }
  .station-billboarddance-us {
    background-image: url(images/radio_stations/billboarddance.jpg);
  }
  .station-billboardclub-us {
    background-image: url(images/radio_stations/billboardclub.jpg);
  }
  .station-rutv-ru {
    background-image: url(images/radio_stations/rutv.png);
  }
  .station-mtvde-de,
  .station-mtvde-dance-de {
    background-image: url(images/radio_stations/mtv.png);
  }
  .station-vivatv-de {
    background-image: url(images/radio_stations/vivatv.png);
  }
  .station-m1-ua {
    background-image: url(images/radio_stations/m1.png);
  }
  .station-shazam-ru-ru,
  .station-shazam-ua-ua,
  .station-shazam-de-de,
  .station-shazam-us-us {
    background-image: url(images/radio_stations/shazam.png);
  }
  .station-itunes-ru-ru,
  .station-itunes-de-de,
  .station-itunes-us-us {
    background-image: url(images/radio_stations/itunes.png);
  }
  .station-antenne-bayern-de {
    background-image: url(images/radio_stations/antenne-bayern.png);
  }
  .station-lastfm {
    background-image: url(images/radio_stations/lastfm.png);
  }
}
