#lc-radio-stations {
  .station-mfm {
    background-image: url(images/radio_stations/mfm.png);
  }
  .station-dfm {
    background-image: url(images/radio_stations/dfm.png);
  }
  .station-kissfm {
    background-image: url(images/radio_stations/kissfm.png);
  }
  .station-radiorecord {
    background-image: url(images/radio_stations/radiorecord.png);
  }
  .station-rusradio {
    background-image: url(images/radio_stations/rusradio.png);
  }
  .station-europaplus,
  .station-europaplus-ua {
    background-image: url(images/radio_stations/europaplus.png);
  }
  .station-nrj,
  .station-nrj-de {
    background-image: url(images/radio_stations/nrj.png);
  }
  .station-ufm {
    background-image: url(images/radio_stations/ufm.png);
  }
  .station-maximum {
    background-image: url(images/radio_stations/maximum.png);
  }
  .station-love {
    background-image: url(images/radio_stations/love.png);
  }
  .station-keks {
    background-image: url(images/radio_stations/keks.jpg);
  }
  .station-bestfmua {
    background-image: url(images/radio_stations/bestfmua.png);
  }
  .station-muztv {
    background-image: url(images/radio_stations/muztv.png);
  }
  .station-luxfm {
    background-image: url(images/radio_stations/luxfm.png);
  }
  .station-nasheradio {
    background-image: url(images/radio_stations/nasheradio.png);
  }
  .station-bbc {
    background-image: url(images/radio_stations/bbc.png);
  }
  .station-bbcdance {
    background-image: url(images/radio_stations/bbcdance.png);
  }
  .station-billboard {
    background-image: url(images/radio_stations/billboard.jpg);
  }
  .station-billboarddance {
    background-image: url(images/radio_stations/billboarddance.jpg);
  }
  .station-billboardclub {
    background-image: url(images/radio_stations/billboardclub.jpg);
  }
  .station-rutv {
    background-image: url(images/radio_stations/rutv.png);
  }
  .station-mtvde,
  .station-mtvde-dance {
    background-image: url(images/radio_stations/mtv.png);
  }
  .station-vivatv {
    background-image: url(images/radio_stations/vivatv.png);
  }
  .station-m1 {
    background-image: url(images/radio_stations/m1.png);
  }
  .station-shazam-ru,
  .station-shazam-ua,
  .station-shazam-de,
  .station-shazam-us {
    background-image: url(images/radio_stations/shazam.png);
  }
  .station-itunes-ru,
  .station-itunes-de,
  .station-itunes-us {
    background-image: url(images/radio_stations/itunes.png);
  }
  .station-antenne-bayern {
    background-image: url(images/radio_stations/antenne-bayern.png);
  }
  .station-lastfm {
    background-image: url(images/radio_stations/lastfm.png);
  }
}
