#lc-radio-stations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: inherit;
  overflow-y: scroll;
  padding: 2px 0 7px;

  .lc-radio-station {
    cursor: pointer;
    position: relative;
    margin: 5px 0;
    box-shadow: 5px 5px 10px $dark-border;
    width: 100px;
    height: 100px;

    a {
      height: inherit;
      width: inherit;
      display: block;

      .lc-radio-station-preview {
        background-size: 100% 100%;
        height: inherit;
        width: inherit;
        border: 1px solid $dark-border;
      }

      .mask, .circle {
        display: none;

        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
      }

      &:hover {
        .mask, .circle { display: block; }
      }

      .mask {
        opacity: 0.7;
        background-color: #181818;
      }

      .circle {
        margin: auto;
        width: 50%;
        height: 50%;
        background-color: transparent;
        border: 2px solid #d7dce0;
        border-radius: 50%;
        z-index: 1;
        transition: all 0.1s ease-in-out;
        cursor: inherit;

        &:hover { border: 2px solid $white; }

        .icon-play {
          color: white;
          text-align: center;
          font-size: 24px;
          line-height: 46px;
          margin-left: 5px;
        }
      }
    }
  }
}
